.form-label,
.txt-form{
  font-size: 1rem;
  font-weight: 400;
}

.txt-form{
  text-align: center;
}

.linking{
  text-decoration: none;
  color: var(--blue);
  font-weight: 600;
  transition: all 100ms ease-in-out;
}

.linking:hover{
  color: #6bd7df;
}

.comps{
  margin: 0;
  padding: 0;
}

.login-page{
  gap: 9rem;
  /* justify-content: baseline; */
  align-items: center;
}

.img{
  background-image: url("../artwork.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 60%;
  flex-shrink: 1;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.login-form{
  justify-self: center;
  width: 500px ;
  padding:0 3rem;
}
@media screen and (max-width:1150px) and (min-width:500px){
  .login-page{
    gap: 0.5rem;
    justify-content: first baseline;
    align-items: center;
  }
}
